{% extends "washapp/base.html" %}
{% block content %}
    {% for i in washer %}
        {% if forloop.counter0|divisibleby:4 %}
            <div class="row">
        {% endif %}
    <div class="col s12 m3 l3">
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content">
              <p>{{i.name}} {{i.surname}}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'detail' i.id %}">დეტალები</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
    {% endif %}
      
    {% endfor %}
{% endblock %}
